numpy
pandas
scikit-learn
lightgbm
optuna
optuna-integration[lightgbm]
matplotlib  # For visualization
seaborn     # For visualization
plotly      # For interactive visualizations
statsmodels # For time series analysis
missingno   # For missing value visualization